{% extends 'layouts/default.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>EAPI</h2>
            <div class="list-group">
                <ul class="nav nav-sidebar">
                    <li><a href="{% url 'home:home' %}" class="list-group-item">Home</a></li>
                    <li><a href="{% url 'admin:index' %}" class="list-group-item">Admin</a></li>
                    <li><a href="{% url 'apidocs' %}" class="list-group-item">API Docs</a></li>
                    <li><a href="{% url 'srer:srer_graphql' %}" class="list-group-item">SRER GraphQL API</a></li>
                    <li><a href="{% url 'wgew:wgew_graphql' %}" class="list-group-item">WGEW GraphQL API</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}