*.pyc
*.bak
.env
scratch*

./swagger/.docker/mongodb/data
./swagger/.docker/pgsql/data
dest/

.DS_Store
node_modules/
/dist/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
/test/unit/coverage/
/test/e2e/reports/
project/mongo/
project/cloudmesh/graphql/mongo
.vscode/

# Editor directories and files
.idea

*.suo
*.ntvs*
*.njsproj
*.sln
